body{
  font-family: 'Roboto', sans-serif;
}
.hero-text p{
  font-weight: 300;
  color: #ddd;
  font-size: 18px;
}
.hero-text h2{
  
  font-size: 40px;
}
.hero-text button{
  font-size: 20px;
  transition: all 0.5s;
}

.hero-text button:hover{
  background-color: transparent;
}
.navbar-toggler{
  
    background-color: #fff;
  }

.navbar-toggler:focus{
box-shadow: none;
}

.trusted-area{
  background-color: rgba(0, 0, 0, 0.219);
}
.trusted-area h6{
  color: #cfcfcf;
}

.single-card{
  background-color: #f8f8f8;
  box-shadow: 3px 3px 5px #ddd;
  width: 18rem;
}

.single-card h5{
  font-size: 20px;
}

.content-video{
  width: 95%;
}

.content-strategy{
  height: 236px;
  
}

.content-strategy .text{
  width: 50%;
  top: 30%;
  left: 10%;
  
}

.content-strategy .start-btn{
  width: 50%;
  top: 40%;
  right: 0;
  
}



.footer-section{
  background-color: #131121;
}
.footer-section p{
  font-size: 20px;
  font-weight: 300;
}


@media only screen and (max-width: 768px){
  .content-strategy .text{
    width: 100%;
    top: 15%;
    
  }
  
  .content-strategy .start-btn{
    width: 100%;
    top: 70%;
    
  }
  
  
}

@media only screen and (max-width: 450px){
  .hero-text h2{
    font-size: 30px;
  }
  .hero-text p{
    font-size: 14px;
  }

}
